<nav class="nav">
    <h1>Complaint Redressal System</h1>
    <div class="nav-search">
        <input type="text" placeholder="Search Here">
        <button style="cursor: pointer;">Search</button>
    </div>
    <ul>

        <li><a routerLink="home">Home</a></li>
        <li><a routerLink="admin">Admin</a></li>
        <li><a routerLink="customer">Customer</a></li>
        <li><a routerLink="manager">Manager</a></li>
        <li><a routerLink="engineer">Engineer</a></li>
        <li><a routerLink="help">Help</a></li>
    </ul>
</nav>
